.history_content1 {
    margin-top: 15px;
    margin-left: 10px;
    border-bottom: solid 1px;
    padding-bottom: 20px;
    line-height: 160%;
    position: relative;
}

.history_content2 {
    margin-top: 15px;
    margin-left: 10px;
    border-bottom: solid 1px;
    padding-bottom: 20px;
    line-height: 160%;
}

.history_content3 {
    margin-top: 15px;
    margin-left: 10px;
    border-bottom: solid 1px;
    padding-bottom: 20px;
    line-height: 160%;
}

.history_content4 {
    margin-top: 15px;
    margin-left: 10px;
    border-bottom: solid 1px;
    padding-bottom: 20px;
    line-height: 160%;
}

.history_content5 {
    margin-top: 15px;
    margin-left: 10px;
    border-bottom: solid 1px;
    padding-bottom: 20px;
    line-height: 160%;
}

.history_content6 {
    margin-top: 15px;
    margin-left: 10px;
    border-bottom: solid 1px;
    padding-bottom: 20px;
    line-height: 160%;
}

.history_content7 {
    margin-top: 15px;
    margin-left: 10px;
    border-bottom: solid 1px;
    padding-bottom: 20px;
    line-height: 160%;
}

.history_content8 {
    margin-top: 15px;
    margin-left: 10px;
    border-bottom: solid 1px;
    padding-bottom: 20px;
    line-height: 160%;
}
.history_cancel {
    position: absolute;
    right: 0;
    padding-bottom: 20px;
}
.buy_top ul li span:first-child {
    color: pink;
}
.result_s{text-align: center}